

body{
    background-color: rgb(142, 237, 206);
    justify-content: center;
    align-items: center;  
    width: 100vh;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-content{
    width: 100%;
    height: 50px;
    margin: 0 0px 0 490px;
    
    
}
h1{
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 50px;
}
h6{
    margin-top: 0;
    font-weight: bolder;
    font-size: 30px;
}
p{
    margin: 30px 0 30px 20px ;
    font-size: 25px;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover{
    color: rgb(240, 238, 245);
}
#button{
    background-color: blanchedalmond;

}
/* Button generator from cssbuttongenerator.com */

#start-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 30px 90px 10px;
  }
  
  #start-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.hidden{
   display: none;
}